<div class="col-lg-12">
  <div class="card mt-5 mb-5">
    <div class="card-body">
      <h2 class="text-center">Login </h2>
    </div>
  </div>
</div>

<%= form_tag instructor_login_path, method: :post do %>
<%= content_tag :div, class: 'my-div', style: 'border: solid black 2px;width:50%;height:300px;margin-left: 25%;background-color:#d0caed  ' do %>
<div class="form-row" style="margin-left: 26%; margin-top:8%">
    <%= label_tag :email%>
    <%= text_field_tag :email %>
  </div>
  <div class="form-row" style="margin-left: 27%; margin-top:8%">
    <%= label_tag :password %>
    <%= password_field_tag :password %>
  </div>
  <div class="form-row" style="text-align:center; margin-top:12%">
    <%= submit_tag "Login" %>
  <% end %>
  <% end %>